{
    "branches": ["main"],
    "extends": "semantic-release-npm-github-publish",
    "plugins":
        [
            [
                "@codedependant/semantic-release-docker",
                {
                    dockerImage: "tomerh2001/git-crypt-pipe"
                }
            ],
        ],
}
