{
    "branches": ["main"],
    "extends": "semantic-release-npm-github-publish",
    "plugins":
        [
            [
                "@codedependant/semantic-release-docker",
                {
                    dockerRegistry: "ghcr.io",
                    dockerArgs: { GITHUB_TOKEN: true },
                },
            ],
        ],
}
